<!DOCTYPE html>
<html>
<head>
  <title>Search Analytics</title>
</head>
<body>
  <h1>Search Analytics</h1>
  <table>
    <thead>
      <tr>
        <th>Search Query</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @queries.each do |query, count| %>
        <tr>
          <td><%= query %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
